@use 'styles/variables';

$block: '.#{variables.$ns}card';

#{$block} {
    max-width: 288px;

    border: 1px solid #dedede;
    border-radius: 4px;

    &__image {
        display: block;
        max-width: 100%;
    }

    &__content {
        display: grid;
        gap: 15px;

        padding: 20px;
    }

    &__title {
        margin: 0;

        font-size: 22px;
    }

    &__text {
        margin: 0;

        font-size: 16px;
    }

    &__link,
    &__link:visited {
        justify-self: start;

        padding: 10px;

        background-color: #0f7ffa;
        color: #fff;
        text-decoration: none;

        border-radius: 4px;
    }
}
